@{
    var data ServiceData
}
@{
	var comment = "\n# "
	if data.IsApp {
		comment = "\n"
	}
}
hypermusk -pkg=@(data.ApiPkg) -impl=@(data.ServicesPkg) -lang=server -outdir=./
gofmt -w ./@(data.Module)apihttpimpl

@(comment)hypermusk -pkg=@(data.ApiPkg) -lang=javascript -outdir=./react
@(comment)gorazor ./web/templates ./web/templates
@(comment)cd react && npm install . && webpack .
