@{
    var data WebData
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/@(data.Module)/main.css">
  </head>
  <body>
    <section id="react"></section>
    <script src="/@(data.Module)/main.js"></script>
  </body>
</html>
